
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shoe-app-primary: mat-palette($mat-grey, 800, A200, A400);
$shoe-app-accent: mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shoe-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shoe-app-theme: mat-light-theme((
  color: (
    primary: $shoe-app-primary,
    accent: $shoe-app-accent,
    warn: $shoe-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shoe-app-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --slate-gray: #6c757dff;
  --davys-grey: #495057ff;
  --gunmetal: #343a40ff;
  --charleston-green: #212529ff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
  height: 100%;
  background-color: #faf9f9;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5% => 1rem = 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}
